body {
    background-color: #180d03;
    margin-top: 15px;
    margin-left: 0;
    margin-right: 0;
}

.header {
    width: 100%;
    height: 100px;
    background-color: #9c9a94;
    border-radius: 15px;
}

.in_header {
    float: left;
}

#logo {
    margin-left: 70px;
    margin-top: 15px;
}

.body {
    border-radius: 15px;
    background-color: #cfceca;
    margin-top: 15px;
    height: 720px;
}

.inside_body {
    background-color: white;
    float: left;
    line-height: 40x;
    height: 674px;
    text-align: center;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
}

#left_div {
    margin-left: 19px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 565px;
    margin-left: 0;
}

#right_div {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 900px;
    background: none;
    margin-right: 0;
}

.footer {
    position: relative;
    border-radius: 15px;
    background-color: #9c9a94;
    height: 100px;
    margin-top: 15px;
}

.menu li, li > a {
    list-style-type: none;
    font: 14pt Arial;
    line-height: 23px;
    text-decoration: none;
}

.menu, li >a:hover {
    color: #FFD700;
}

.menu {
    margin: 0;
    padding-top: 15px;
}

h1 {
    text-align: center;
    font-family: Arial;
    color: #132a07;
}

p, a, form {
    margin-left: 40px;
    margin-right: 40px;
}

h3 {
    font: 18px;
    font-weight: 400;
    background-color: #eaeaea;
    margin-left: 15px;
    margin-right: 15px;
}

.short_description {
    font-style: italic;
    font-size: 17px;
    line-height: 16px;
    
}

.long_description, .index_description {
    font-size: 19px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.specifications > li {
    list-style: none;
    background: url(img/list.jpg) no-repeat;
    padding-left: 30px;
    font-size: 17px;
    font-style: oblique;
    color: #1c1712;
    line-height: 20px;
}

.form_contacts tr td {
    width: 100px;
    vertical-align: top;
    color: #484343;
    font-size: 16px;
    text-align: left;
}

input[type="text"], input[type="email"] {
    width: 650px;
}

input:focus, textarea:focus {
    background-color: #cccccc;
    color: #1f7f1a;
    text-transform: capitalize;
}

#comment {
    width: 651px;
}

.catalog {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}


.catalog tr > td, a {
    text-decoration: none;
    font-family: Arial;
    color: #1c0e02;
    font-size: 17px;
    line-height: 30px;
    text-align: center;
    width: 33%;
}

tr > td {
    /* text-align: left; */
}

.catalog_table {
    margin: 0 auto;
    background-color: white;
    border-radius: 15px;
    height: 230px;
    width: 100%;
}

.img_description > img {
    outline-style: solid;
    outline-color: #80552c;
}

.img_description > img:hover {
    outline-style: none;
}

.description_table {
    width: 50%;
    border-collapse: collapse;
    border: ridge;
    margin-left: 100px
}

.description_table td {
    border: ridge;
    text-align: center;
    font: 16px Arial;
    height: 25px;
}

.description_table_head > tr > td {
    background-color: #eaeaea;
    height: 45px;
    vertical-align: middle;
}

.short_description:first-letter, .long_description::first-letter {
    font-size: 25px;
    color: #132a07;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}